asgiref==3.8.1
Brotli==1.1.0
click==8.1.7
colorama==0.4.6
Django==5.0.6
experta==1.9.4
filelock==3.14.0
frozendict==2.4.4
fsspec==2024.5.0
gunicorn==22.0.0
h11==0.14.0
intel-openmp==2021.4.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
mkl==2021.4.0
mpmath==1.3.0
networkx==3.3
numpy==1.26.4
opt-einsum==3.3.0
packaging==24.0
pandas==2.2.2
patsy==0.5.6
pgmpy==0.1.25
psycopg2==2.9.9
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
schema==0.6.7
scikit-learn==1.5.0
scipy==1.13.1
six==1.16.0
sqlparse==0.5.0
statsmodels==0.14.2
sympy==1.12.1
tbb==2021.12.0
threadpoolctl==3.5.0
torch==2.3.0
tqdm==4.66.4
typing_extensions==4.12.0
tzdata==2024.1
uvicorn==0.30.0
whitenoise==6.6.0
